<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Fixed table header</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css"> 
  
  
</head>

<body>



<script>
	$(window).on("load resize ", function() {
	  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
	  $('.tbl-header').css({'padding-right':scrollWidth});
	}).resize();
	
	$(document).ready(function(){

	});
</script>

  <section>
  <h1>Call Log</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Phone Number</th>
          <th>Fizz Buzz</th>
          <th>Delay</th>
          <th>Time</th>
          <th>Call</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      
      <% for(var i=0; i < data.length; i++) { %>
		    <tr>
		      <td><%= data[i].id %></td>
		      <td><%= data[i].phone_number %></td>
		      <td><%= data[i].fizzbuzz %></td>
		      <td><%= data[i].delay %></td>
		      <td><%= data[i].time %></td>
		      <td>
		      <form action='/call' method='POST'>
			     <input type="hidden" name="phonenumber" value="<%= data[i].phone_number %>"/>
			     <input type="hidden" name="fizzbuzz" value= "<%= data[i].fizzbuzz %>" />
			     <input type="hidden" name="delay" value= "<%= data[i].delay %>" />	
			      <input type="hidden" name="decide" value="recall"/>		      
			      <button id="call_button" class="button"><span>Call </span></button>
		      </form>
		      </td>
		    </tr>
	  <% } %>
            
        
      </tbody>
    </table>
  </div>
</section>
  
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>

</html>
